DB_URL=jdbc:postgresql://ep-crimson-paper-ataoeczu.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
DB_USER=neondb_owner
DB_PASS=tu_password_aqui
JWT_SECRET=una_clave_segura_muy_larga_para_firmar_tokens
